<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>前景传动后台管理系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="icon"  th:href="@{/favicon.ico}" />
	<link rel="stylesheet"  th:href="@{/assets/css/main.css}"  />

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
	<div class="logo">
		<a href="index.html">前景传动后台管理系统</a>
	</div>
	<div class="left_open">
		<i title="展开左侧栏" class="iconfont">&#xe699;</i>
	</div>
	<ul class="layui-nav left fast-add" lay-filter="">
		<li class="layui-nav-item">
			<a href="javascript:" title="刷新工具" id="frame-reload">
				<i class="layui-icon" title="刷新页面">&#xe9aa;</i>
			</a>
		</li>
	</ul>
	<ul class="layui-nav right" lay-filter="">
		<li class="layui-nav-item">
			<a href="javascript:" th:text="${session.user.username}"></a>
			<dl class="layui-nav-child">
				<!-- 二级菜单 -->
				<dd>
					<a onclick="x_admin_open('修改密码','/admin/user/to_upPass', 452, 300)">修改密码</a>
				</dd>
				<dd>
					<a href="/admin/login/loginOut">退出</a>
				</dd>
			</dl>
		</li>
		<li class="layui-nav-item to-index">
			<a  href="/index"  target="_blank">前台首页</a>
		</li>
	</ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
	<div id="side-nav">
		<ul id="nav">
			<li>
				<a href="javascript:">
					<i class="iconfont">&#xe6ae;</i>
					<cite>基本设置</cite>
					<i class="iconfont nav_right">&#xe697;</i>
				</a>
				<ul class="sub-menu">
					<li>
						<a _href="/admin/bas/introduce">
							<i class="iconfont">&#xe6a7;</i>
							<cite>关于我们</cite>
						</a>
					</li>
					<li>
						<a _href="/admin/bas/contact">
							<i class="iconfont">&#xe6a7;</i>
							<cite>联系我们</cite>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:">
					<i class="iconfont">&#xe723;</i>
					<cite>产品管理</cite>
					<i class="iconfont nav_right">&#xe697;</i>
				</a>
				<ul class="sub-menu">
					<li>
						<a _href="/admin/product/type">
							<i class="iconfont">&#xe6a7;</i>
							<cite>产品类型</cite>
						</a>
					</li>
					<li>
						<a _href="/admin/product/product_view">
							<i class="iconfont">&#xe6a7;</i>
							<cite>产品列表</cite>
						</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="javascript:">
					<i class="iconfont">&#xe828;</i>
					<cite>新闻资讯</cite>
					<i class="iconfont nav_right">&#xe697;</i>
				</a>
				<ul class="sub-menu">
					<li>
						<a _href="/admin/news/list_view">
							<i class="iconfont">&#xe6a7;</i>
							<cite>新闻列表</cite>
						</a>
					</li>

				</ul>
			</li>

			<li>
				<a href="javascript:">
					<i class="iconfont">&#xe69f;</i>
					<cite>留言中心</cite>
					<i class="iconfont nav_right">&#xe697;</i>
				</a>
				<ul class="sub-menu">

					<li>
						<a _href="/admin/leaveWord/view">
							<i class="iconfont">&#xe6a7;</i>
							<cite>留言列表</cite>
						</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
	<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
		<ul class="layui-tab-title">
			<li class="home" lay-id="0">
				<i class="layui-icon">&#xe68e;</i>我的桌面
			</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<iframe src="/admin/welcome" frameborder="0" id="iframe_0" class="x-iframe"></iframe>
			</div>
		</div>
	</div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
	<div class="copyright">Copyright ©2018 EX-admin All Rights Reserved</div>
</div>
<!-- 底部结束 -->
</body>

<script type="text/javascript" th:src="@{/js/libs/jquery.min.js}"  ></script>
<script type="text/javascript" th:src="@{/js/libs/layui/layui.js}"   ></script>
<script type="text/javascript" th:src="@{/js/main.js}"   ></script>
<!--<script src="http://pv.sohu.com/cityjson?ie=utf-8">-->
<!--</script>-->
<!--<script type="text/javascript" th:src="@{/js/clientIp.js}"   ></script>-->
<!--<script>-->
	<!--var cip =returnCitySN["cip"];-->
	<!--var cname=returnCitySN["cname"]-->
<!--</script>-->
</html>