<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>联系我们</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/contact.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="../../../static/qt/css/baidumap.css" th:src="@{/qt/css/baidumap.css}"/>
    <!--引用百度地图API-->
    <script type="text/javascript"  src="http://api.map.baidu.com/api?key=&amp;v=1.1&amp;services=true"></script>
</head>

<body>
<div th:replace="pages/qt/public/header :: navbar"></div>
<!--<div class="header-img">-->
<!--</div>-->
<div class="contact-wrap">
    <h2>联系我们</h2>
    <p class="tip">Contact</p>
    <div class="wrap">
        <div class="content-left">
            <ul>
                <li>
                    <img th:src="@{/qt/images/tel.png}" />
                    <span th:text="${application.basOrganization.phone}"></span>
                </li>
                <li>
                    <img th:src="@{/qt/images/mail.png}"/>
                    <span th:text="${application.basOrganization.email}"></span>
                </li>
                <li>
                    <img th:src="@{/qt/images/add.png}"/>
                    <span th:text="${application.basOrganization.address}"></span>
                </li>
            </ul>
        </div>
        <div class="map-wrap"><div id="allmap"></div>
        </div>
    </div>
</div>
<div th:replace="pages/qt/public/footer :: navbar"></div>

<!--百度地图容器-->
<script src="../../../static/qt/js/baidumap.js" th:src="@{/qt/js/baidumap.js}"></script>

</body>

</html>