<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>上海前敬传动设备有限公司</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/js/libs/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/jquery.bxslider.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/qt/js/jquery.bxslider.min.js}"></script>
</head>
<body>
<div th:replace="pages/qt/public/header :: navbar"></div>

<div class="banner-wrap">
    <ul class="top-banner">
        <li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>
        <li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>
        <li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>
    </ul>
</div>
<div class="about-wrap">
    <div class="wrap">
        <img th:src="@{/qt/images/sh_gywm.jpg}" class="fl"/>
        <div class="about-content">
            <h3>关于我们</h3>
            <p id="gywm"></p>
            <a href="about.htm">查看更多</a>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="wrap">
        <h2>产品展示</h2>
        <p class="tip">Products</p>
        <ul class="btn-group">
            <li class="btn" th:each="type,stat:${types}">
                <a th:href="@{'/index/product?type='+${type.id}}" th:title="${type.name}" th:text="${type.name}"></a>
            </li>
        </ul>
        <ul class="product-list">
        </ul>
        <a href="/index/product" class="more">查看更多</a>
    </div>
</div>
<div th:replace="pages/qt/public/footer :: navbar"></div>

<script th:inline="javascript">
    //全局数据
    var G = {
        dataListUrl: "/api/productList", // 获取数据接口
        page: 1,
        pagesize: 9,
        count: 0
    };
    var gywm = [[${application.gywm.contentNoHtml}]];
    $(function () {
        $("#gywm").text(gywm);
        $.ajax({
            url: G.dataListUrl,
            type: "POST",
            data:{
                page: G.page,
                pagesize: G.pagesize,
            },
            success:function(result){
                if(result.code == 1){
                    $.each(result.data.list, function (index, value) {
                        $(".product-list").append(html(value));
                    });
                }
            },
            error:function(){
            }
        });
    });
    
    function html(value) {
        let html = '<li>' +
            '                <a href="/index/productDetail?id='+value.id+'"  class="aitem">' +
            '                    <img src="'+value.picture+'" width="270px" height="270px" border="0" title="'+value.title+'"/>' +
            '                </a>' +
            '                <span>' +
            '                <a href="/index/productDetail?id='+value.id+'">' +
            value.title +
            '                </a>' +
            '                </span>' +
            '            </li>';
        return html;
    }
    
    $('.top-banner').bxSlider({
        mode: "fade",
        auto: true,
        controls: false
    });

</script>
</body>
</html>