<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 <title>上海前敬传动设备有限公司</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
 <link rel="stylesheet" th:href="@{/qt/css/index.css}"/>
 <link rel="stylesheet" th:href="@{/qt/css/jquery.bxslider.min.css}"/>
 <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/qt/js/jquery.bxslider.min.js}"></script>
</head>
 <body>
  <header class="g-header"> 
   <div class="wrap"> 
    <h1><a href="/" title="上海前敬传动设备有限公司">上海前敬传动设备有限公司</a></h1>
    <ul> 
     <li><a href="/" title="首页" class="active">网站首页</a></li>
     <li><a href="about.htm" title="关于我们">关于我们</a></li>
     <li><a href="product.htm" title="产品展示">产品展示</a></li>
     <li><a href="ly.htm" title="留言中心">留言中心</a></li>
     <li><a href="contract.htm" title="联系我们">联系我们</a></li> 
    </ul> 
   </div> 
  </header> 
  <div class="banner-wrap"> 
   <ul class="top-banner"> 
    <li><img th:src="@{/qt/images/sh_banner1.jpg}" /></li>
    <li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>
    <li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>
   </ul> 
  </div> 
  <div class="slide-wrap"> 
   <ul class="slide-banner"> 
    <li>
     <div class="media">
      <a href="productshow_15327917.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应奇正印花机导带 聚旺印花机导带 Ra...</h4>
        <div class="media-content">
          详细说明 奇正印花机导带聚旺印花机导带Rapplon原配 RAPPLO
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15327846.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应木工行业预压机平皮带 输送带 铺装带...</h4>
        <div class="media-content">
         技术参数 型号：PU系类 厚度：3.8mm 重量：4.4mm 最小轮径：250m
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15327660.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应RAPPLON瓦楞纸箱行业皮带 高抓...</h4>
        <div class="media-content">
          技术参数： 厚度：6.3mm 颜色：兰色花纹带 请参考详细技术资料，或者联系
        </div>
       </div></a>
     </div></li>
    <li>
     <div class="media">
      <a href="productshow_15327549.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应RAPPLON滚轴传动平皮带</h4>
        <div class="media-content">
         瑞宝龙滚轴传动平皮带 ◆GGE系列优良的尺寸稳定性即便是在环境（湿度、温度）发
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15327480.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应爬坡伸缩一体机皮带</h4>
        <div class="media-content">
         技术参数 型号： 
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15327295.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应木工喷漆专用带 耐胶水溶剂带 耐磨带...</h4>
        <div class="media-content">
          请参考详细技术资料，或者联系我们，以获得更详尽的资料和讯息！ 全国服务热线
        </div>
       </div></a>
     </div></li>
    <li>
     <div class="media">
      <a href="productshow_15327182.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">【厂家直销】物流皮带 机场皮带 快递加速...</h4>
        <div class="media-content">
         高密度PVK 厚度：3.9mm 颜色：黑色 适用于物流，快递传送等... 请参考
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15327015.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应PVC PU输送带 挡板输送带</h4>
        <div class="media-content">
          导条、挡板型号与规格： 详询：400-1890-6599
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15326693.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应物流转弯机皮带</h4>
        <div class="media-content">
         转弯机皮带技术参数： 
        </div>
       </div></a>
     </div></li>
    <li>
     <div class="media">
      <a href="productshow_15326582.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应抗菌食品带 食品级抗菌皮带 肉类皮带...</h4>
        <div class="media-content">
         技术参数： 厚度：1.3mm 最小轮径：12mm 静态中K1%： 8N/mm 请
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15325795.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应助卷机带 毛毡带 耐切割助卷机带</h4>
        <div class="media-content">
          请参考详细技术资料，或者联系我们，以获得更详尽的资料和讯息！ 全国服务热线
        </div>
       </div></a>
     </div>
     <div class="media">
      <a href="productshow_15325718.htm">
       <div class="media__left">
        <img class="media-object"  th:src="@{/qt/images/20160914115004836274.jpg}"  height="98"/>
       </div>
       <div class="media__body">
        <h4 class="media-heading">供应光伏行业皮带 弹性带 UU09RGF...</h4>
        <div class="media-content">
         汉唐传动专为光伏行业定制产品 请参考详细技术资料，或者联系我们，以获得更详尽的
        </div>
       </div></a>
     </div></li> 
   </ul> 
  </div> 
  <div class="about-wrap"> 
   <div class="wrap"> 
    <img src="images/jianjpic.jpg" class="fl"/>
    <div class="about-content"> 
     <h3>关于我们</h3> 
     <p> 汉唐公司是世界上历史最悠久的工业皮带－瑞士RAPPLON 在中国的唯一代理商。RAPPLON公司自1846年建立，以工厂名－LEDER（利达）广为人知。 全国服务热线:400-180-6599 官网:www.highten.net 我们同时经销其他欧美品牌：德国Siegling、德国CONTI、德国OPTIBELT、德国EHRE、美国GATES等。 我们拥有经验丰富，技术高超的员工，销售、质检、售后及工厂的主管均得到Rapplon，Siegling，Habasit等欧洲公司的技术培训并获得证书。在工业皮带领域从业经验超过10年以上的员工达到37％，能以精湛的技术更好地服务于用户。 我们结合自... </p> 
     <a href="about.htm">查看更多</a> 
    </div> 
   </div> 
  </div> 
  <div class="product-wrap"> 
   <div class="wrap"> 
    <h2>产品展示</h2> 
    <p class="tip">Products</p> 
    <ul class="btn-group"> 
     <li class="btn"><a href="product_145073_1.htm" title="印花导带">印花导带</a></li>
     <li class="btn"><a href="product_145074_1.htm" title="传动皮带">传动皮带</a></li>
     <li class="btn"><a href="product_145076_1.htm" title="机械皮带">机械皮带</a></li>
     <li class="btn"><a href="product_145077_1.htm" title="输送皮带">输送皮带</a></li> 
    </ul> 
    <ul class="product-list"> 
     <li><a href="productshow_15327917.htm" target="_blank" class="aitem"><img src="images/a20160914115004836274.jpg" border="0" title="供应奇正印花机导带 聚旺印花机导带 Rapplon原配"/></a><span><a href="productshow_15327917.htm" target="_blank">供应奇正印花机导带 聚旺印花机导带 Rapplon原...</a></span></li>
     <li><a href="productshow_15327846.htm" target="_blank" class="aitem"><img src="images/a20160914114737689546.jpg" border="0" title="供应木工行业预压机平皮带 输送带 铺装带"/></a><span><a href="productshow_15327846.htm" target="_blank">供应木工行业预压机平皮带 输送带 铺装带</a></span></li>
     <li><a href="productshow_15327480.htm" target="_blank" class="aitem"><img src="images/a20160914113912233392.jpg" border="0" title="供应爬坡伸缩一体机皮带"/></a><span><a href="productshow_15327480.htm" target="_blank">供应爬坡伸缩一体机皮带</a></span></li>
     <li><a href="productshow_15327295.htm" target="_blank" class="aitem"><img src="images/a20160914113516313366.jpg" border="0" title="供应木工喷漆专用带 耐胶水溶剂带 耐磨带"/></a><span><a href="productshow_15327295.htm" target="_blank">供应木工喷漆专用带 耐胶水溶剂带 耐磨带</a></span></li>
     <li><a href="productshow_15326693.htm" target="_blank" class="aitem"><img src="images/a20160914112313373323.jpg" border="0" title="供应物流转弯机皮带"/></a><span><a href="productshow_15326693.htm" target="_blank">供应物流转弯机皮带</a></span></li>
     <li><a href="productshow_15326582.htm" target="_blank" class="aitem"><img src="images/a20160914112113554637.jpg" border="0" title="供应抗菌食品带 食品级抗菌皮带 肉类皮带"/></a><span><a href="productshow_15326582.htm" target="_blank">供应抗菌食品带 食品级抗菌皮带 肉类皮带</a></span></li>
     <li><a href="productshow_15325795.htm" target="_blank" class="aitem"><img src="images/a20160914110752466899.jpg" border="0" title="供应助卷机带 毛毡带 耐切割助卷机带"/></a><span><a href="productshow_15325795.htm" target="_blank">供应助卷机带 毛毡带 耐切割助卷机带</a></span></li>
     <li><a href="productshow_15325718.htm" target="_blank" class="aitem"><img src="images/a20160914110603556154.jpg" border="0" title="供应光伏行业皮带 弹性带 UU09RGF"/></a><span><a href="productshow_15325718.htm" target="_blank">供应光伏行业皮带 弹性带 UU09RGF</a></span></li>
     <li><a href="productshow_15325108.htm" target="_blank" class="aitem"><img src="images/a20160914105416587863.jpg" border="0" title="供应耐切割物流皮带 低噪音皮带"/></a><span><a href="productshow_15325108.htm" target="_blank">供应耐切割物流皮带 低噪音皮带</a></span></li>
     <li><a href="productshow_15324274.htm" target="_blank" class="aitem"><img src="images/a20160914104156975765.jpg" border="0" title="供应透明皮带 喷涂皮带 淋漆皮带"/></a><span><a href="productshow_15324274.htm" target="_blank">供应透明皮带 喷涂皮带 淋漆皮带</a></span></li>
     <li><a href="productshow_15324166.htm" target="_blank" class="aitem"><img src="images/a20160914104002495923.jpg" border="0" title="供应瓦楞纸箱行业耐高温皮带 耐高温输送带"/></a><span><a href="productshow_15324166.htm" target="_blank">供应瓦楞纸箱行业耐高温皮带 耐高温输送带</a></span></li>
     <li><a href="productshow_15323454.htm" target="_blank" class="aitem"><img src="images/a20160914102258915726.jpg" border="0" title="供应唐诚订箱机皮带 粘箱机皮带 糊盒机皮带"/></a><span><a href="productshow_15323454.htm" target="_blank">供应唐诚订箱机皮带 粘箱机皮带 糊盒机皮带</a></span></li>
    </ul> 
    <a href="product.htm" class="more">查看更多</a> 
   </div> 
  </div> 
  <footer class="g-footer"> 
   <div class="footer-wrap"> 
    <div class="wrap"> 
     <div class="contact"> 
      <h3 class="title">联系我们</h3> 
      <p> 联 系 人：俞小姐　(营销部经理)<br/> 联系电话：<a href="contact.htm">86-021-62216599-115　18821157072</a><br/> 传真号码：<a href="contact.htm">86-021-62216560</a><br/> 联系地址：<a href="about.htm">上海市闵行区联友路2205号</a> </p> 
     </div> 
     <div class="links"> 
      <h3 class="title">友情链接</h3> 
      <a href="https://www.51pla.com/288xs/" target="_blank" title="小说网">小说网</a> 
      <a href="https://www.jfq.com" target="_blank" title="聚富财经">聚富财经</a> 
      <a href="https://www.yuntask.com/" target="_blank" title="SEO优化">SEO优化</a> 
     </div> 
     <div class="wx-code"> 
      <img src="images/m51placom.png"/>
      <p><a href="https://m.51pla.com">手机版全球塑胶网</a></p> 
     </div> 
    </div> 
   </div> 
   <div class="footer-bottom">
    <a href="https://www.51pla.com">全球塑胶网</a>&nbsp;&nbsp;&nbsp;&nbsp;版权所有 &copy; 2007-2018&nbsp;www.51pla.com&nbsp;浙ICP备07001855号
    <br/> 客服QQ：
    <a href="https://wpa.qq.com/msgrd?V=1&amp;Uin=2851282551&amp;Site=塑胶网客服&amp;Menu=no" target="_blank" rel="nofollow">2851282551</a> 展会合作QQ：
    <a href="https://wpa.qq.com/msgrd?V=1&amp;Uin=2851282593&amp;Site=展会合作&amp;Menu=no" target="_blank" rel="nofollow">2851282593</a> 业务QQ：
    <a href="https://wpa.qq.com/msgrd?V=1&amp;Uin=2851282561&amp;Site=塑胶网业务&amp;Menu=no" target="_blank" rel="nofollow">2851282561</a> 
    <br/> 客服热线:0571-88268579 公司传真：0571-87205660 
    <br/> 常年法律顾问:
    <a href="/about/legal.asp">浙江万向光明律师事务所</a> 
   </div> 
  </footer> 
  <script>
  $('.top-banner').bxSlider({
    mode: "fade",
    auto: true,
    controls: false
  });
  $('.slide-banner').bxSlider({
    mode: "horizontal",
    auto: true,
    controls: true,
    pager: false
  });
  $('.product-wrap .btn').click(function(ev) {
    $(this).addClass('active').siblings('.active').removeClass('active')
  })
  </script>   
 </body>
</html>