<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>introduce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/jquery.bxslider.min.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/qt/js/jquery.bxslider.min.js}"></script>
</head>
<body>
<div th:replace="pages/qt/public/header :: navbar"></div>
<div class="banner-wrap">
    <ul class="top-banner">
        <li><img th:src="@{/qt/images/sy_banner1.jpg}"/></li>
        <li><img th:src="@{/qt/images/sy_banner1.jpg}"/></li>
        <li><img th:src="@{/qt/images/sy_banner1.jpg}"/></li>
    </ul>
</div>
<div class="slide-wrap">
    <ul class="slide-banner" id="proPage">
        <li th:each="list,listStat:${proLists}">
            <div  th:each="pro,proStat:${list}"  class="media">
            <a href="productshow_15327917.htm">
            <div class="media__left">
            <img class="media-object" th:src="${pro.picture}" height="98"/>
            </div>
            <div class="media__body">
            <h4 class="media-heading" th:text="${pro.title}"> </h4>
            <div class="media-content" th:text="${pro.getContextNoHtml()}">
            </div>
            </div>
            </a>
            </div>
        </li>
        <li   >
            <div class="media">
                <a href="productshow_15327917.htm">
                    <div class="media__left">
                        <img class="media-object" th:src="@{/qt/images/20160914115004836274.jpg}" height="98"/>
                    </div>
                    <div class="media__body">
                        <h4 class="media-heading">供应奇正印花机导带 聚旺印花机导带 Ra...</h4>
                        <div class="media-content">
                            详细说明 奇正印花机导带聚旺印花机导带Rapplon原配 RAPPLO
                        </div>
                    </div>
                </a>
            </div>
            <div class="media">
                <a href="productshow_15327846.htm">
                    <div class="media__left">
                        <img class="media-object" th:src="@{/qt/images/20160914114737689546.jpg}" height="98"/>
                    </div>
                    <div class="media__body">
                        <h4 class="media-heading">供应木工行业预压机平皮带 输送带 铺装带...</h4>
                        <div class="media-content">
                            技术参数 型号：PU系类 厚度：3.8mm 重量：4.4mm 最小轮径：250m
                        </div>
                    </div>
                </a>
            </div>
            <div class="media">
                <a href="productshow_15327660.htm">
                    <div class="media__left">
                        <img class="media-object" th:src="@{/qt/images/20160914114737689546.jpg}" height="98"/>
                    </div>
                    <div class="media__body">
                        <h4 class="media-heading">供应RAPPLON瓦楞纸箱行业皮带 高抓...</h4>
                        <div class="media-content">
                            技术参数： 厚度：6.3mm 颜色：兰色花纹带 请参考详细技术资料，或者联系
                        </div>
                    </div>
                </a>
            </div>
        </li>

        <!--<li>-->
            <!--<div class="media">-->
                <!--<a href="productshow_15327917.htm">-->
                    <!--<div class="media__left">-->
                        <!--<img class="media-object" th:src="@{/qt/images/20160914115004836274.jpg}" height="98"/>-->
                    <!--</div>-->
                    <!--<div class="media__body">-->
                        <!--<h4 class="media-heading">供应奇正印花机导带 聚旺印花机导带 Ra...</h4>-->
                        <!--<div class="media-content">-->
                            <!--详细说明 奇正印花机导带聚旺印花机导带Rapplon原配 RAPPLO-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="media">-->
                <!--<a href="productshow_15327846.htm">-->
                    <!--<div class="media__left">-->
                        <!--<img class="media-object" th:src="@{/qt/images/20160914114737689546.jpg}" height="98"/>-->
                    <!--</div>-->
                    <!--<div class="media__body">-->
                        <!--<h4 class="media-heading">供应木工行业预压机平皮带 输送带 铺装带...</h4>-->
                        <!--<div class="media-content">-->
                            <!--技术参数 型号：PU系类 厚度：3.8mm 重量：4.4mm 最小轮径：250m-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="media">-->
                <!--<a href="productshow_15327660.htm">-->
                    <!--<div class="media__left">-->
                        <!--<img class="media-object" th:src="@{/qt/images/20160914114737689546.jpg}" height="98"/>-->
                    <!--</div>-->
                    <!--<div class="media__body">-->
                        <!--<h4 class="media-heading">供应RAPPLON瓦楞纸箱行业皮带 高抓...</h4>-->
                        <!--<div class="media-content">-->
                            <!--技术参数： 厚度：6.3mm 颜色：兰色花纹带 请参考详细技术资料，或者联系-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->

    </ul>
</div>
<div class="about-wrap">
    <div class="wrap">
        <img th:src="@{/qt/images/jianjpic.jpg}" class="fl"/>
        <div class="about-content">
            <h3>关于我们</h3>
            <p> 汉唐公司是世界上历史最悠久的工业皮带－瑞士RAPPLON 在中国的唯一代理商。RAPPLON公司自1846年建立，以工厂名－LEDER（利达）广为人知。 全国服务热线:400-180-6599
                官网:www.highten.net 我们同时经销其他欧美品牌：德国Siegling、德国CONTI、德国OPTIBELT、德国EHRE、美国GATES等。
                我们拥有经验丰富，技术高超的员工，销售、质检、售后及工厂的主管均得到Rapplon，Siegling，Habasit等欧洲公司的技术培训并获得证书。在工业皮带领域从业经验超过10年以上的员工达到37％，能以精湛的技术更好地服务于用户。
                我们结合自... </p>
            <a href="about.htm">查看更多</a>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="wrap">
        <h2>产品展示</h2>
        <p class="tip">Products</p>
        <ul class="btn-group">
            <li class="btn"><a href="product_145073_1.htm" title="印花导带">印花导带</a></li>
            <li class="btn"><a href="product_145074_1.htm" title="传动皮带">传动皮带</a></li>
            <li class="btn"><a href="product_145076_1.htm" title="机械皮带">机械皮带</a></li>
            <li class="btn"><a href="product_145077_1.htm" title="输送皮带">输送皮带</a></li>
        </ul>
        <!--<ul class="product-list">-->
        <!--<li><a href="productshow_15327917.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914115004836274_c93d71cf86b64dd395bcc3c2d541f405.jpg" border="0"-->
        <!--title="供应奇正印花机导带 聚旺印花机导带 Rapplon原配"></a><span><a href="productshow_15327917.htm" target="_blank">供应奇正印花机导带 聚旺印花机导带 Rapplon原配</a></span>-->
        <!--</li>-->
        <!--<li><a href="productshow_15327846.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914114737689546_ab574cefbe8f49578d6802dd2b16baa0.jpg" border="0"-->
        <!--title="供应木工行业预压机平皮带 输送带 铺装带"></a><span><a href="productshow_15327846.htm" target="_blank">供应木工行业预压机平皮带 输送带 铺装带</a></span>-->
        <!--</li>-->
        <!--<li><a href="productshow_15327480.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914113912233392_feaa56305a1948abb3e62736ca47207c.jpg" border="0"-->
        <!--title="供应爬坡伸缩一体机皮带"></a><span><a href="productshow_15327480.htm"-->
        <!--target="_blank">供应爬坡伸缩一体机皮带</a></span></li>-->
        <!--<li><a href="productshow_15327295.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914113516313366_6701a6e9faf142c0a11222a47ac87052.jpg" border="0"-->
        <!--title="供应木工喷漆专用带 耐胶水溶剂带 耐磨带"></a><span><a href="productshow_15327295.htm" target="_blank">供应木工喷漆专用带 耐胶水溶剂带 耐磨带</a></span>-->
        <!--</li>-->
        <!--<li><a href="productshow_15326693.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914112313373323_ff19aafa31ab4429a67b0bc98ab95c4f.jpg" border="0" title="供应物流转弯机皮带"></a><span><a-->
        <!--href="productshow_15326693.htm" target="_blank">供应物流转弯机皮带</a></span></li>-->
        <!--<li><a href="productshow_15326582.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914112113554637_0cf79998bbae404896edb8d0feec40ba.jpg" border="0"-->
        <!--title="供应抗菌食品带 食品级抗菌皮带 肉类皮带"></a><span><a href="productshow_15326582.htm" target="_blank">供应抗菌食品带 食品级抗菌皮带 肉类皮带</a></span>-->
        <!--</li>-->
        <!--<li><a href="productshow_15325795.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914110752466899_578e3ad8136e43d3a218590fdbd82952.jpg" border="0"-->
        <!--title="供应助卷机带 毛毡带 耐切割助卷机带"></a><span><a href="productshow_15325795.htm" target="_blank">供应助卷机带 毛毡带 耐切割助卷机带</a></span>-->
        <!--</li>-->
        <!--<li><a href="productshow_15325718.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914110603556154_e9efc4f4011c46f3b2ffe8e953bc51a4.jpg" border="0"-->
        <!--title="供应光伏行业皮带 弹性带 UU09RGF"></a><span><a href="productshow_15325718.htm" target="_blank">供应光伏行业皮带 弹性带 UU09RGF</a></span>-->
        <!--</li>-->
        <!--<li><a href="productshow_15325108.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914105416587863.jpg" border="0" title="供应耐切割物流皮带 低噪音皮带"></a><span><a-->
        <!--href="productshow_15325108.htm" target="_blank">供应耐切割物流皮带 低噪音皮带</a></span></li>-->
        <!--<li><a href="productshow_15324274.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914104156975765.jpg" border="0" title="供应透明皮带 喷涂皮带 淋漆皮带"></a><span><a-->
        <!--href="productshow_15324274.htm" target="_blank">供应透明皮带 喷涂皮带 淋漆皮带</a></span></li>-->
        <!--<li><a href="productshow_15324166.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914104002495923.jpg" border="0" title="供应瓦楞纸箱行业耐高温皮带 耐高温输送带"></a><span><a-->
        <!--href="productshow_15324166.htm" target="_blank">供应瓦楞纸箱行业耐高温皮带 耐高温输送带</a></span></li>-->
        <!--<li><a href="productshow_15323454.htm" target="_blank" class="aitem"><img-->
        <!--src="images/20160914102258915726.jpg" border="0" title="供应唐诚订箱机皮带 粘箱机皮带 糊盒机皮带"></a><span><a-->
        <!--href="productshow_15323454.htm" target="_blank">供应唐诚订箱机皮带 粘箱机皮带 糊盒机皮带</a></span></li>-->
        <!--</ul>-->
        <a href="product.htm" class="more">查看更多</a>
    </div>
</div>
<div th:replace="pages/qt/public/footer :: navbar"></div>
<!--<script src="http://pv.sohu.com/cityjson?ie=utf-8">-->
<!--</script>-->
<!--<script>-->
    <!--var cip =returnCitySN["cip"];-->
    <!--var cname=returnCitySN["cname"];-->
<!--</script>-->
<!--<script type="text/javascript" th:src="@{/js/clientIp.js}" ></script>-->

<script th:inline="javascript">
    // var proList = [[${proList}]];
    // $(function () {
    //     var html = '';
    //     var count=0;
    //     $.each(proList, function(i,val){
    //         count++;
    //         if(count==1){
    //             html+='<li>';
    //         }
    //         html+=gethtml(val);
    //         if(count==3){
    //             html+='</li>';
    //             count=0;
    //         }
    //     });
    //     // $("#proPage").append(html);
    // })
    //
    //
    // function gethtml(val) {
    //     var html ='<div class="media">' +
    //         '                <a href="productshow_15327917.htm">' +
    //         '                    <div class="media__left">' +
    //         '                        <img class="media-object" src="'+val.picture+'" height="98"/>' +
    //         '                    </div>' +
    //         '                    <div class="media__body">' +
    //         '                        <h4 class="media-heading">'+val.title+'</h4><div class="media-content">'
    //         +val.contextNoHtml+
    //         '                        </div>' +
    //         '                    </div>' +
    //         '                </a>' +
    //         '            </div>';
    //     return html;
    // }



    $('.top-banner').bxSlider({
        mode: "fade",
        auto: true,
        controls: false
    });
    $('.slide-banner').bxSlider({
        mode: "horizontal",
        auto: true,
        controls: true,
        pager: false
    });
    $('.product-wrap .btn').click(function (ev) {
        $(this).addClass('active').siblings('.active').removeClass('active')
    })

</script>
</body>
</html>