<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>introduce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon"  th:href="@{/favicon.ico}" />
    <link rel="stylesheet"  th:href="@{/assets/css/main.css}"  />
    <link rel="stylesheet" th:href="@{/umeditor/themes/default/css/umeditor.css}"/>
</head>
<body>
<input th:value="${data}" type="hidden" id="context"/>
<form  method="post" >
    <input type="hidden" th:value="${type}" id="type" />
        <!--<textarea rows="5" cols="35" name="usIntroduce" style="display:none;" id="introduce"></textarea>-->
        <div id="myEditor" >
        </div>

    <input type="button" onclick="save()" value="保存" class="layui-btn layui-btn-normal layui-btn-mini" />
</form>
</body>
<script type="text/javascript" th:src="@{/js/libs/jquery.min.js}"  ></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/umeditor/third-party/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/umeditor/umeditor.config.js}" ></script>
<script type="text/javascript" th:src="@{/umeditor/umeditor.min.js}" ></script>
<script type="text/javascript" th:src="@{/umeditor/lang/zh-cn/zh-cn.js}" ></script>
  <script type="text/javascript">
    var um = UM.getEditor('myEditor');
    um.setContent($("#context").val());
</script>
<script>
    function save(){
        var type = $("#type").val();
        var context = $("#myEditor").html();
        $.ajax({
            url: "/bas/update",
            type: "POST",
            data:{
                type:type,
                context: context
            },
            success:function(data){
                // layer.closeAll();
                // if(data.code == 1){
                //     layer.msg("成功");
                // }else{
                //     layer.msg(data.msg);
                // }
                layer.closeAll();
                if(data.code == 1){
                    var handler = top.layer.alert("数据更新成功", {
                        icon: 6
                    }, function () {
                        top.layer.close(handler);
                        //关闭弹出层
                        x_admin_close("reload");
                    });
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(){
                layer.closeAll();
            }
        });
    }
</script>
</html>