<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>introduce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/wangEditor-3.1.1/release/wangEditor.css}"/>
    <link rel="icon"  th:href="@{/favicon.ico}" />
    <link rel="stylesheet"  th:href="@{/assets/css/main.css}"  />

</head>
<body>
<input th:value="${data}" type="hidden" id="context"/>
<form th:action="@{/admin/addUser}" method="post" onsubmit="modifyContent()">
    <input type="hidden" th:value="${type}" id="type" />
    <div>
        <!--<textarea rows="5" cols="35" name="usIntroduce" style="display:none;" id="introduce"></textarea>-->
        <div id="editor"   >
        </div>
    </div>

    <input type="button" onclick="save()" value="保存" class="layui-btn layui-btn-normal layui-btn-mini" />
</form>
</body>
<script type="text/javascript" th:src="@{/js/libs/jquery.min.js}"  ></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/wangEditor-3.1.1/release/wangEditor.js}"></script>
  <script type="text/javascript">
//    var E = window.wangEditor
//    var editor = new E('#editor')
//    /* 处理上传图片的controller路径 */
//    editor.customConfig.uploadImgServer = '/commodity/upload'
//    /* 定义上传图片的默认名字 */
//    editor.customConfig.uploadFileName = 'myFileName'
//    // 或者 var editor = new E( document.getElementById('editor') )
//    editor.create()
//    //初始化全屏插件
//    E.fullscreen.init('#editor');
var editor = new wangEditor('#editor');
editor.customConfig.uploadImgServer = '/commodity/uploadImg';
editor.customConfig.uploadImgShowBase64 = true;
editor.customConfig.uploadFileName = 'myFileName';
editor.customConfig.showLinkImg = false;
/*	editor.customConfig.debug=true;*/
editor.customConfig.uploadImgHooks = {
    success: function (xhr, editor, result) {
    }
}
editor.create();
editor.txt.html($("#context").val());
</script>
<script>
    function save(){
        var type = $("#type").val();
        var context = editor.txt.html();
        $.ajax({
            url: "/bas/update",
            type: "POST",
            data:{
                type:type,
                context: context
            },
            success:function(data){
                layer.closeAll();
                if(data.code == 1){
                    layer.msg("成功");
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(){
                layer.closeAll();
            }
        });
    }
</script>
</html>