<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>introduce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/jquery.bxslider.min.css}"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/qt/js/jquery.bxslider.min.js}"></script>
</head>
<body>
<div th:fragment="navbar">
    <footer class="g-footer">
        <div class="footer-wrap">
            <div class="wrap">
                <div class="contact">
                    <h3 class="title">联系我们</h3>
                    <p> 联 系 人：俞小姐　(营销部经理)<br/> 联系电话：<a href="contact.htm">86-021-62216599-115　18821157072</a><br/> 传真号码：<a
                            href="contact.htm">86-021-62216560</a><br/> 联系地址：<a href="about.htm">上海市闵行区联友路2205号</a></p>
                </div>
                <div class="links">
                    <h3 class="title">友情链接</h3>
                    <a href="https://www.51pla.com/288xs/" target="_blank" title="小说网">小说网</a>
                    <a href="https://www.jfq.com" target="_blank" title="聚富财经">聚富财经</a>
                    <a href="https://www.yuntask.com/" target="_blank" title="SEO优化">SEO优化</a>
                </div>
                <div class="wx-code">
                    <img src="images/m51placom.png"/>
                    <p><a href="https://m.51pla.com">手机版全球塑胶网</a></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <a href="https://www.51pla.com">全球塑胶网</a>&nbsp;&nbsp;&nbsp;&nbsp;版权所有 &copy; 2007-2018&nbsp;www.51pla.com&nbsp;浙ICP备07001855号
            <br/> 客服QQ：
            <a href="https://wpa.qq.com/msgrd?V=1&amp;Uin=2851282551&amp;Site=塑胶网客服&amp;Menu=no" target="_blank"
               rel="nofollow">2851282551</a> 展会合作QQ：
            <a href="https://wpa.qq.com/msgrd?V=1&amp;Uin=2851282593&amp;Site=展会合作&amp;Menu=no" target="_blank"
               rel="nofollow">2851282593</a> 业务QQ：
            <a href="https://wpa.qq.com/msgrd?V=1&amp;Uin=2851282561&amp;Site=塑胶网业务&amp;Menu=no" target="_blank"
               rel="nofollow">2851282561</a>
            <br/> 客服热线:0571-88268579 公司传真：0571-87205660
            <br/> 常年法律顾问:
            <a href="/about/legal.asp">浙江万向光明律师事务所</a>
        </div>
    </footer>
</div>
</body>
</html>