<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>footer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/qt/css/common.css}"/>
</head>
<body>
<div th:fragment="navbar">
    <footer class="g-footer">
        <div class="footer-wrap">
            <div class="wrap">
                <div class="contact">
                    <h3 class="title">联系我们</h3>
                    <p>
                        联 系 人：<span  th:text="${application.basOrganization.contacts}"></span><br/>
                        手机号码：<span  th:text="${application.basOrganization.phone}"></span><br/>
                        联系电话：<span  th:text="${application.basOrganization.fax}"></span><br/>
                        电子邮箱：<span  th:text="${application.basOrganization.email}"></span><br/>
                        公司地址：<span  th:text="${application.basOrganization.address}"></span></p>
                </div>

                <div class="links">
                    <a href="/" title="首页">网站首页</a><br/>
                    <a href="/index/about" title="关于我们">关于我们</a><br/>
                    <a href="/index/product" title="产品展示">产品展示</a><br/>
                    <a href="/index/leave" title="留言中心">留言中心</a><br/>
                    <a href="/index/news" title="新闻咨询">新闻咨询</a><br/>
                    <a href="/index/contract" title="联系我们">联系我们</a>
                </div>
                <div class="wx-code">
                    <img src="https://qjcd-1255952474.cos.ap-shanghai.myqcloud.com/wx2wm.jpg" />
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <a href="http://www.shqjcd.com">上海前敬传动设备有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;版权所有
        </div>
    </footer>
</div>
</body>
</html>