<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">

<head>
    <title>introduce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/qt/css/jquery.bxslider.min.css}"/>
    <script type="text/javascript" th:src="@{/qt/js/jquery.bxslider.min.js}"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8e91303d263d7a280673f9f26f080c33";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<header class="g-header">
    <div id="hyfw_bj">
        <div class="hyfw_zj">
            <div class="hyfw_left">
                您好！欢迎光临上海前敬传动设备有限公司官网！
            </div>
            <div class="hyfw_right">
                <a href="/admin/login" target="_blank">后台系统</a>　|　
                <a href="/index/contract">网站地图</a>　|　
                <a href="/index/leave">在线留言</a>　|　全国客户服务热线：<span th:text="${application.basOrganization.fax}"></span>　
            </div>
        </div>
    </div>
    <div id="taitou">
        <div id="taitou_z"><a href="/"><img th:src="@{/qt/images/logo.gif}" height="80px"/></a>
            <span>上海前敬传动设备有限公司</span>
        </div>
        <div id="nav1">
            <ul>
                <li id="a1"><a href="/">网站首页</a></li>
                <li id="a2"><a href="/index/about">关于我们</a></li>
                <li id="a3"><a href="/index/product">产品展示</a></li>
                <li id="a4"><a href="/index/leave">留言中心</a></li>
                <li id="a5"><a href="/index/news">新闻咨询</a></li>
                <li id="a6"><a href="/index/contract">联系我们</a></li>
            </ul>
        </div>
    </div>

</header>
<div class="banner-wrap">
    <ul class="top-banner">
        <li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>
        <!--<li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>-->
        <!--<li><img th:src="@{/qt/images/sh_banner1.jpg}"/></li>-->
    </ul>
</div>

<script src="../../../../static/qt/js/header.js" th:src="@{/qt/js/header.js}"></script>

</body>

</html>